/*
0 - 600 PX =  PHONE
600 - 900 PX = TABLET PORTRAY
900 - 1200 PX = TABLET LANDSCAPE
1200 - 1800PX = DESKTOP
1800+ PX =   BIG SCREENS

$breakpoint argument choices
-   phone
-   tab-port
-   tab-land
-   big-desk

1em = 16px

*/
:root {
  --color-primary: #75cac3;
  --color-primary-light: #d7f7f5;
  --color-primary-dark: #2a6171;
  --color-blue-dark: #194cfa;
  --color-blue-dark-rgb:25, 76, 250;
  --color-blue-light: #799bee;
  --color-blue-light-rgb: 121, 155, 238;
  --color-green-dark: #018C58;
  --color-green-dark-rgb: 1, 140, 88;
  --color-green-light: #01b975;
  --color-green-light-rgb: 1, 185, 117;
  --color-grey-dark:#2c2e2f;
  --color-grey-dark-rgb:44, 46, 47;
  --color-grey-med: #666666;
  --color-grey-med-rgb: 102, 102, 102;
  --color-grey-light: #aaabaa;
  --color-grey-light-rgb: 170, 171, 170;
  --font-size-small: 1rem;
  --font-size-std: 1.6rem;
  --font-size-big: 2.6rem;
  --font-size-very-big: 3.6rem;
  --font-size-huge: 5.6rem;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3); }

* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh; }

.container {
  background-color: #fff;
  box-shadow: var(--shadow-dark);
  min-height: 40rem; }

.header {
  position: relative; }
  .header__image {
    background-size: repeat;
    height: 45vh;
    background-position: top;
    background-image: linear-gradient(to right bottom, rgba(var(--color-green-light-rgb), 0.8) 0%, rgba(var(--color-green-dark-rgb), 0.85) 100%, transparent 50%), url(../../img/Endless-Constellation.svg);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
    opacity: .95; }
  .header__text-box {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-huge);
    padding-bottom: 3rem; }
  .header__text {
    display: flex; }
    .header__text--name {
      color: red; }
    .header__text--symbol {
      color: white; }
    .header__text--surname {
      color: purple; }

.section-about {
  display: flex;
  flex-direction: column;
  height: 100vh; }
