@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,558;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&Roboto:wght@500;700;900&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  background-color: #F58B00;
  color: #FFFFFF;
  font-weight: 400; }

body {
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 1.5px;
  color: #ECECEB;
  font-family: "Ubuntu", sans-serif; }

.main__container {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, max-content) [col-end]) [center-end] 1fr [full-end];
  grid-template-rows: 10vh 90vh repeat(4, minmax(min-content, max-content));
  position: relative; }

.hex-shape {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }

.section__title {
  display: none; }
  @media only screen and (max-width: 50em) {
    .section__title {
      display: inline-flex;
      left: 50%;
      transform: translateX(-50%);
      color: rgba(236, 236, 235, 0.8);
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: 2.2rem;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 3rem;
      position: relative; } }
  .section__title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -5%;
    width: 110%;
    height: 1.5px;
    background: rgba(236, 236, 235, 0.3); }

.title-color--indigo {
  color: rgba(16, 63, 86, 0.8); }
  .title-color--indigo::after {
    background: rgba(16, 63, 86, 0.4); }

.title-color--tangerine {
  color: rgba(245, 139, 0, 0.8); }
  .title-color--tangerine::after {
    background: rgba(245, 139, 0, 0.4); }

.title-color--salsa {
  color: rgba(251, 54, 64, 0.8); }
  .title-color--salsa::after {
    background: rgba(251, 54, 64, 0.4); }

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15rem;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
  text-decoration: none;
  letter-spacing: 2px;
  color: #D81159;
  transition-duration: .2s; }
  .btn:hover {
    font-size: 2.2rem; }
  .btn svg,
  .btn svg rect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent; }
  .btn svg rect {
    stroke: #D81159;
    stroke-width: 5;
    transition: .5s;
    stroke-dasharray: 500, 500;
    stroke-dashoffset: 0; }
    .btn svg rect:hover {
      stroke-dasharray: 100, 400;
      stroke-dashoffset: 272;
      stroke: rgba(110, 36, 229, 0.6); }

.about {
  grid-row: 3/4;
  grid-column: full-start/full-end;
  padding: 10rem 0; }

.about-box {
  display: grid;
  grid-template-rows: repeat(3, minmax(9.5rem, 15vw));
  grid-template-columns: minmax(1rem, 1fr) repeat(3, minmax(9.5rem, 15vw)) minmax(1rem, 1fr);
  gap: 4vw;
  justify-content: center;
  align-items: center; }
  .about-box > *::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.15); }
  .about-box .outter-hex {
    grid-column: 3/4;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    background: #3acfca;
    transform: scale(1); }
  .about-box__item {
    height: 100%;
    width: 100%;
    background: #3acfca;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7%;
    position: relative; }
    .about-box__item span {
      text-align: center;
      text-transform: capitalize;
      font-family: "Ubuntu", sans-serif;
      color: #FFFFFF;
      font-weight: 400;
      letter-spacing: 0;
      line-height: 1;
      font-size: 1.3rem; }
      @media only screen and (min-width: 37.5em) {
        .about-box__item span {
          font-size: 1.3rem; } }
      @media only screen and (min-width: 50em) {
        .about-box__item span {
          font-size: 1.6rem;
          line-height: 1.2; } }
      @media only screen and (min-width: 62.5em) {
        .about-box__item span {
          font-size: 2.2rem; } }
      @media only screen and (min-width: 87.5em) {
        .about-box__item span {
          font-size: 2.8rem; } }
    .about-box__item--1 {
      grid-column: 2/3;
      grid-row: 1/2;
      transform: translate(calc(50% + (4vw / 2)), 25%); }
    .about-box__item--2 {
      grid-column: 4/5;
      grid-row: 1/2;
      transform: translate(calc(-50% - (4vw / 2)), 25%); }
    .about-box__item--3 {
      grid-column: 2/3;
      grid-row: 2/3; }
    .about-box__item--4 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.01) 100%), url(../img/jpg/mini.jpg);
      background-image: url(../img/jpg/mini.jpg);
      background-size: cover;
      background-position: center;
      transform: scale(0.95); }
    .about-box__item--5 {
      grid-column: 4/5;
      grid-row: 2/3; }
    .about-box__item--6 {
      grid-column: 2/3;
      grid-row: 3/4;
      transform: translate(calc(50% + (4vw / 2)), -25%); }
    .about-box__item--7 {
      grid-column: 4/5;
      grid-row: 3/4;
      transform: translate(calc(-50% - (4vw / 2)), -25%); }

.footer {
  background-color: #144B66;
  grid-row: 6/-1;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: 1fr [mid-start] repeat(3, 1fr) [mid-end] 1fr;
  grid-template-rows: repeat(2, max-content);
  gap: 2rem;
  justify-items: center; }

.form-container {
  margin: 5rem 0;
  grid-row: 1/2;
  grid-column: mid-start / mid-end;
  position: relative;
  z-index: 5; }
  .form-container::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    height: 30px;
    width: 50%;
    transform-origin: right;
    transform: skewy(-6deg);
    z-index: -1;
    filter: blur(10px); }
  .form-container::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    right: 0;
    height: 30px;
    width: 50%;
    transform-origin: left;
    transform: skewy(6deg);
    z-index: -1;
    filter: blur(10px); }

.form {
  display: flex;
  flex-direction: column;
  background: #144B66;
  border-radius: 5px;
  box-shadow: 0 -1px 0.5rem rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(23, 86, 118, 0.4);
  padding: 3rem 7% 1.5rem;
  width: 80vw;
  max-width: 50rem; }
  .form__group {
    margin: .5rem 0; }
    .form__group--3 input {
      height: 5rem; }
    .form__group--4 {
      margin-top: 1.5rem;
      margin-left: auto; }
  .form__input, .form__input:active, .form__input:link {
    color: inherit;
    background-color: rgba(58, 207, 202, 0.1);
    border: none;
    border-radius: 3px 3px 0px 0px;
    padding: .7rem;
    width: 100%;
    display: block;
    border-bottom: 3px solid transparent; }
    .form__input::placeholder, .form__input:active::placeholder, .form__input:link::placeholder {
      color: rgba(58, 207, 202, 0.75); }
    .form__input:focus, .form__input:active:focus, .form__input:link:focus {
      outline: none;
      box-shadow: -0.3rem 0.3rem 0.8rem rgba(0, 0, 0, 0.4);
      color: #3acfca;
      border-bottom: 3px solid #9DE7E4; }
    .form__input:focus:invalid, .form__input:active:focus:invalid, .form__input:link:focus:invalid {
      border-bottom: 3px solid #FB3640; }
  .form__label {
    display: block;
    transition: all .4s;
    transform: translate(0.9rem, -4.5em);
    font-size: 1.2rem;
    font-weight: 600; }
  .form__input:placeholder-shown ~ .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translate(0.9rem, -2.8rem); }
  .form textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 10rem;
    max-height: 20rem; }
  .form__btn, .form__btn:link, .form__btn:active {
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    background-color: transparent;
    border: 2px solid rgba(157, 231, 228, 0.4);
    transition: all .3s;
    color: #ECECEB;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 1px; }
    .form__btn:hover, .form__btn:link:hover, .form__btn:active:hover {
      background-color: rgba(157, 231, 228, 0.4);
      border: 2px solid rgba(157, 231, 228, 0.8);
      transform: scale(1.1); }
    .form__btn:active, .form__btn:link:active, .form__btn:active:active {
      background: rgba(251, 54, 64, 0.7); }

.social {
  grid-row: 2/-1;
  grid-column: 1 / -1;
  background-color: #103f56;
  width: 100%;
  padding: 2% 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .social__icon-box {
    width: 30%;
    min-width: 27rem;
    display: flex;
    justify-content: space-evenly; }
    .social__icon-box--link {
      color: transparent; }
    .social__icon-box--item {
      fill: rgba(58, 207, 202, 0.7);
      height: 3.7rem;
      width: 3.7rem;
      margin: 1rem 2rem;
      transition: all .3s;
      cursor: pointer; }
      .social__icon-box--item:hover {
        fill: #ECECEB;
        transform: translate(3px, -2px) scale(1.2); }
      @media only screen and (max-width: 37.5em) {
        .social__icon-box--item {
          height: 3rem;
          width: 3rem; } }
  .social__copyright {
    font-size: 1.6rem;
    font-weight: 100;
    text-transform: capitalize;
    text-align: center;
    color: #ECECEB; }
    @media only screen and (max-width: 37.5em) {
      .social__copyright {
        font-size: 1.3rem; } }

.header {
  grid-row: 1 / 3;
  grid-column: full-start/full-end;
  position: relative; }

.hexagons-box {
  background: black;
  position: relative;
  height: 100%;
  overflow: hidden;
  animation: change-color 4s linear infinite; }

noscript {
  text-align: center;
  font-size: 3.2rem;
  color: #F58B00; }

.header__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; }
  .header__title--text {
    display: inline-block;
    color: #ececeb;
    font-size: 2.2rem;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    white-space: normal;
    pointer-events: none; }
    @media only screen and (min-width: 50em) {
      .header__title--text {
        font-size: 2.8rem; } }
    @media only screen and (min-width: 87.5em) {
      .header__title--text {
        font-size: 4rem; } }
    .header__title--text span {
      font-family: inherit;
      color: #F58B00;
      color: #FB3640; }

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, transparent 0%, transparent 50%, #0f0f0f 100%); }

.row {
  display: inline-flex;
  z-index: 6;
  margin-top: -30px;
  margin-left: -55px; }

.row:nth-child(even) {
  margin-left: 1px; }

.hexagon {
  position: relative;
  background: #111;
  width: 110px;
  height: 110px;
  margin: 2px;
  transition: 2s; }
  .hexagon:hover {
    transition: 0s;
    background: orangered; }
  .hexagon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3; }
  .hexagon:after {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: #111;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    z-index: 5; }

@keyframes change-color {
  0% {
    filter: hue-rotate(0deg); }
  100% {
    filter: hue-rotate(360deg); } }

.nav.colored {
  background: rgba(16, 63, 86, 0.95);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 15px rgba(1, 1, 1, 0.3); }

.nav {
  background: transparent;
  grid-row: 1/2;
  grid-column: full-start/full-end;
  z-index: 10;
  display: flex;
  align-content: center;
  transition: all .2s ease-in-out;
  position: sticky;
  top: 0;
  padding: 0 4rem; }
  .nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ECECEB; }
  .nav .logo__link {
    text-decoration: none;
    color: currentColor; }
  .nav .logo__icon {
    height: 3vh; }
  .nav__list {
    min-width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: auto; }
    .nav__list .nav__item {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 2rem; }
    .nav__list .nav__link {
      color: #ECECEB;
      text-decoration: none;
      font-size: 1.6rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      letter-spacing: .3rem;
      text-transform: uppercase;
      transition-duration: .2s;
      position: relative; }
      .nav__list .nav__link::before {
        content: '';
        position: absolute;
        height: 2px;
        width: 80%;
        bottom: -3px;
        left: 10%;
        border-radius: 1rem;
        transform: scale(0);
        transition: all .6s;
        background: #ECECEB; }
      .nav__list .nav__link:hover::before, .nav__list .nav__link:active::before {
        transform: scale(1.5, 1); }

@media only screen and (max-width: 50em) {
  .nav__toggler {
    position: absolute;
    top: -50%;
    right: 3%;
    transform: translate(-3%, 50%);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 6rem;
    transition: all .4s ease-in;
    z-index: 50; }
  .nav__toggler:hover .line {
    width: 3rem; }
  .line {
    height: .3rem;
    border-radius: 50px;
    background: white;
    margin: .5rem;
    transition: all .3s ease-in-out; }
    .line--1 {
      width: 3rem; }
    .line--2 {
      width: 2rem; }
    .line--3 {
      width: 1rem; }
  .nav__list {
    position: absolute;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    -webkit-clip-path: circle(30px at 95% -10%);
    clip-path: circle(30px at 95% -10%);
    transition: all .5s ease-in-out;
    pointer-events: none;
    background: rgba(16, 63, 86, 0.9); }
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      .nav__list {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px); } }
  .nav__list.open {
    -webkit-clip-path: circle(150vh at 95% -10%);
    clip-path: circle(150vh at 95% -10%);
    pointer-events: all; }
  .nav__item {
    opacity: 0; }
  .nav__item.fade {
    opacity: 1; }
  .nav__link {
    font-size: 2.2rem !important; }
  .nav__item:nth-child(1) {
    transition: all 0.5s ease 0.2s; }
  .nav__item:nth-child(2) {
    transition: all 0.5s ease 0.4s; }
  .nav__item:nth-child(3) {
    transition: all 0.5s ease 0.6s; }
  .nav__item:nth-child(4) {
    transition: all 0.5s ease 0.7s; } }

.projects {
  background-color: rgba(194, 194, 193, 0.3);
  grid-row: 4/5;
  grid-column: full-start/full-end;
  padding: 10rem 10%; }
  .projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-auto-rows: 50rem;
    column-gap: 5rem;
    row-gap: 10rem;
    justify-content: center;
    align-items: center; }

.card {
  -moz-perspective: 180rem;
  perspective: 180rem;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 35rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .card__side {
    background: rgba(255, 255, 255, 0.6);
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 1.3s cubic-bezier(0.12, 0.12, 0.3, 1.52);
    backface-visibility: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transform-style: preserve-3d; }
    .card__side::after {
      content: '';
      position: absolute;
      background: #29282a;
      bottom: -30px;
      left: 5%;
      width: 90%;
      height: 12px;
      border-radius: 50%;
      z-index: -1;
      filter: blur(12px); }
    .card__side--front {
      transform: rotateY(0); }
    .card__side--back {
      transform: rotateY(180deg); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__image {
    flex: 1;
    background-size: cover;
    background-position: center right;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-radius: 5px 5px 0 0; }
    .card__image--1 {
      background-image: linear-gradient(to bottom, rgba(245, 139, 0, 0.7) 0%, rgba(255, 255, 255, 0.01) 100%), url(../img/jpg/project.jpg); }
  .card__title {
    border: 2px solid rgba(245, 139, 0, 0.5);
    font-family: "Raleway", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    align-self: center;
    margin: 3rem 0;
    padding: .5rem 3rem;
    position: relative;
    color: #707070;
    text-transform: capitalize; }
  .card span.tab {
    background-color: #f58b00;
    height: 5rem; }
    .card span.tab--upper {
      clip-path: polygon(0 0, 100% 0, 100% 5%, 0 100%);
      border-radius: 5px 5px 0 0; }
    .card span.tab--lower {
      clip-path: polygon(0 95%, 100% 0, 100% 100%, 0 100%);
      border-radius: 0 0 5px 5px; }
  .card .project__description {
    height: 60%;
    flex: 1;
    display: flex;
    flex-direction: column; }
    .card .project__description--top a {
      text-decoration: none;
      text-transform: uppercase; }
    .card .project__description--top {
      flex: 1;
      overflow-y: auto;
      padding: 2rem 7%;
      font-family: "Raleway", sans-serif;
      color: #707070;
      font-size: 1.6rem;
      font-weight: 400;
      margin: 1rem 0; }
    .card .project__description--bottom {
      flex: 0 1 5rem;
      display: flex;
      justify-content: center;
      position: relative;
      padding: 1.5rem 0; }
      .card .project__description--bottom::before {
        position: absolute;
        content: '';
        top: 0;
        left: 15%;
        width: 70%;
        height: 1px;
        background: rgba(112, 112, 112, 0.15); }
      .card .project__description--bottom::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 15%;
        width: 70%;
        height: 1px;
        background: rgba(112, 112, 112, 0.15); }
  .card .project__icon {
    height: 30px;
    width: 30px;
    fill: rgba(110, 36, 229, 0.4);
    margin: 0 1.5rem; }
  .card .project__btn-box {
    display: flex;
    justify-items: center;
    padding: 5rem 0;
    position: relative; }

.skills {
  grid-row: 5/6;
  grid-column: center-start/center-end;
  padding: 10rem 10%;
  color: #29282A; }
  .skills__box {
    display: grid;
    grid-template-columns: repeat(6, minmax(fit-content, 1fr));
    grid-template-columns: repeat(6, minmax(max-content, 1fr));
    grid-template-rows: repeat(2, min-content);
    column-gap: 1rem;
    border: 1.5px solid rgba(157, 231, 228, 0.6);
    border-radius: 7px; }
  .skills__content {
    grid-row: 1/2;
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap; }
  .skills__card {
    flex: 1 0 250px;
    padding: 2rem; }
    .skills__card:not(:nth-last-child(1)) {
      border-right: 1.5px solid rgba(157, 231, 228, 0.4); }
    .skills__card__header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      min-height: 10rem;
      margin: 1rem 0;
      position: relative; }
      .skills__card__header::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 10%;
        height: 1px;
        width: 80%;
        background: rgba(157, 231, 228, 0.3);
        border-radius: 100px; }
    .skills__card__icon {
      fill: rgba(245, 139, 0, 0.8);
      height: 4rem;
      width: 4rem;
      margin-bottom: 1rem; }
    .skills__card__title {
      color: rgba(112, 112, 112, 0.8);
      font-weight: 400;
      font-size: 2.2rem;
      text-transform: uppercase;
      text-align: center; }
    .skills__card__list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem; }
      .skills__card__list li {
        flex: 1 0 100%;
        line-height: 2;
        font-family: "Montserrat", sans-serif;
        font-size: 1.6rem;
        text-transform: capitalize;
        font-weight: 400;
        text-align: center;
        color: rgba(112, 112, 112, 0.8); }
  .skills__carousel {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative; }
    .skills__carousel::before, .skills__carousel::after {
      content: "";
      height: 100%;
      width: 120px;
      position: absolute;
      background: linear-gradient(to right, #FFFFFF 0%, rgba(255, 255, 255, 0.1) 100%);
      z-index: 5; }
    .skills__carousel::before {
      top: 0;
      left: 0; }
    .skills__carousel::after {
      top: 0;
      right: 0;
      transform: rotateZ(180deg); }
    .skills__carousel .slider {
      width: 100rem;
      background: white;
      display: flex; }
    .skills__carousel .slide {
      height: 100px;
      display: flex;
      align-items: center;
      animation: slide-me 70s linear infinite; }
      .skills__carousel .slide__icon {
        fill: rgba(157, 231, 228, 0.8);
        height: 3rem;
        width: 3rem;
        margin-right: 6rem;
        cursor: pointer; }
        .skills__carousel .slide__icon:hover {
          fill: rgba(245, 139, 0, 0.7); }

@keyframes slide-me {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(-100%, 0); } }
