// COLORS

$color-orange: #FB8F37;

$color-mustard: #F5D451;
$color-buff: #F8E28B;
$color-lemon-meringue: #FCF1C5;

$color-ruby: #D81159;
$color-fiery-rose: #FC5F67;
$color-cyclamen: #F47CA8;
$color-fuchsia-rose: #C4457A;
$color-french-rose: #F04282;
$color-salmon-pink: #FD9BA0;

$color-quinacridone-magenta: #8F2D56;
$color-dark-slate-blue: #3C438D;
$color-uranian-blue: #B9DEFE;
$color-iris: #4B57D2;
$color-persian-indigo: #320D6D;
$color-electric-indigo: #6E24E5;
$color-uranian-blue: #AAD7EE;
$color-celadon-green: #218380;
$color-tiffany-green: #2DB4AF;

$color-davis-grey: #5E5E5A;
$color-spanish-grey: #9A9998;
$color-silver: #C2C2C1;

//////////////////////////////////
/// COLORS 

// font colors
$color-sonic-silver: #707070;
$color-raisin-black: #29282A;
$color-platinium: #ECECEB;


//Nav-Bar
$color-purple: #4B13A4;
$color-purple-light: #8648EA;
$color-purple-lighter: #E7DAFB;
$color-purple-lightest: #F3EDFD;
//color already in use
$color-white: #FFFFFF;
$color-tangerine: #F58B00;
$color-red-salsa: #FB3640;
$color-celeste: #9DE7E4;
$color-medium-turquoise: #3ACFCA;
$color-blue-sapphire: #175676;
$color-indigo-dye: #144B66;
$color-indigo-dye-dark: #103F56;

//////////////////////////////////
/// FONT FAMILIES 

$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Ubuntu', sans-serif;
$font-tertiary: 'Montserrat', sans-serif;

//////////////////////////////////
/// FONT SIZES 
 
$font-small: 1rem;
$font-med: 1.6rem;
$font-large: 2.2rem;
$font-big: 2.8rem;
$font-huge: 3.2rem;
$font-massive: 4rem;

//////////////////////////////////
/// MEDIA QUERIES BREAK POINTS

$bp-largest: 75em; //1200/16px = 75
$bp-large: 62.5em; //1000/16px = 62.5
$bp-medium: 50em; //800/16px = 50
$bp-small: 37.5em; //600/16px = 50

//////////////////////////////////
/// PADDINGS 
$padding-big: 10rem;
$padding-med: 7rem;

html{
    box-sizing: border-box;
    font-size: 62.5%;// 10px / 16px = 62.5% => 1rem = 10px  
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: $font-secondary;
    
    
}

::selection{
    background-color: $color-tangerine; 
    color: $color-white;
    font-weight: 400;
    
 }

body{
    // font-family: $font-secondary;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1.5px;
    color: $color-platinium;

}

.main__container{

    display: grid;
    grid-template-rows: 92vh min-content repeat(4, minmax(min-content, max-content));
    grid-template-columns: [full-start] 1fr [center-start] repeat(6,[col-start] minmax(min-content, max-content) [col-end]) [center-end] 1fr [full-end];
    
}

///////////
// BTN
.btn{
    // background: orangered;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);//align it exactly in the middle
    width: 15rem;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    font-family: $font-secondary;
    font-size: $font-large;
    text-decoration: none;
    letter-spacing: 2px;
    color: $color-ruby;
    transition-duration: .2s;
    &:hover{
        font-size: $font-big;
    }

    & svg,
    & svg rect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: transparent;
        
    }

    & svg rect {
        stroke: $color-ruby;
        stroke-width: 5;
        transition: .5s;
        stroke-dasharray: 500,500;
        stroke-dashoffset: 0;

        
        &:hover{
            stroke-dasharray: 100,400;
            stroke-dashoffset: 272;
            // stroke-dasharray: 100;
            // stroke-dashoffset: 75;
            stroke: rgba($color-electric-indigo, .7);
        }

    }

}