@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,558;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&Roboto:wght@500;700;900&display=swap');

//////////////////////////////////
/// COLORS 

// font colors
$color-silver: #C2C2C1;
$color-sonic-silver: #707070;
$color-raisin-black: #29282A;
$color-platinium: #ECECEB;


//Nav-Bar
$color-purple: #4B13A4;
$color-purple-light: #8648EA;
$color-purple-lighter: #E7DAFB;
$color-purple-lightest: #F3EDFD;
//color already in use
$color-white: #FFFFFF;
$color-tangerine: #F58B00;
$color-red-salsa: #FB3640;
$color-ruby: #D81159;
$color-celeste: #9DE7E4;
$color-medium-turquoise: #3ACFCA;
$color-blue-sapphire: #175676;
$color-indigo-dye: #144B66;
$color-indigo-dye-dark: #103F56;
$color-indigo-dye-dark: rgb(16, 63, 86);
$color-electric-indigo: #6E24E5;

//////////////////////////////////
/// FONT FAMILIES 

$font-primary: 'Raleway',
sans-serif;
$font-secondary: 'Ubuntu',
sans-serif;
$font-tertiary: 'Montserrat',
sans-serif;
$font-landing: 'Roboto',
sans-serif;

//////////////////////////////////
/// FONT SIZES 


$font-mini: 1rem;
$font-small: 1.3rem;
$font-med: 1.6rem;
$font-large: 2.2rem;
$font-big: 2.8rem;
$font-huge: 3.2rem;
$font-massive: 4rem;

//////////////////////////////////
/// MEDIA QUERIES BREAK POINTS

$bp-largest: 87.5em; //1400/16px = 87.5
$bp-big: 75em; //1200/16px = 75
$bp-large: 62.5em; //1000/16px = 62.5
$bp-medium: 50.0em; //800/16px = 50.0
$bp-small: 37.5em; //600/16px = 37.5
$bp-mini: 21.87em; //350/16px = 21.87

//////////////////////////////////
/// PADDINGS 
$padding-big: 10rem;
$padding-med: 7rem;


html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px / 16px = 62.5% => 1rem = 10px  
    scroll-behavior: smooth;



}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::selection {
    background-color: $color-tangerine;
    color: $color-white;
    font-weight: 400;

}

body {
    // font-family: $font-secondary;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 1.5px;
    color: $color-platinium;
    font-family: $font-secondary;



}

.main__container {
    display: grid;
    grid-template-columns: [full-start] 1fr [center-start] repeat(6, [col-start] minmax(min-content, max-content) [col-end]) [center-end] 1fr [full-end];
    grid-template-rows: 10vh 90vh repeat(4, minmax(auto, max-content));
    position: relative;
}

/////////////////
// HEXAGON SHAPE

.hex-shape {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/////////////////
// TITLE
.section__title {

    color: rgba($color-platinium, .8);
    font-family: $font-tertiary;
    font-weight: 600;
    font-size: $font-large;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 3rem;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 22.5%;
        width: 55%;
        height: 1.5px;
        background: rgba($color-platinium, .3);
        transform: scaleX(.6);
    }
}
.title-color--indigo{
    color: rgba($color-indigo-dye-dark, .7);
    &::after{
        background:rgba($color-indigo-dye-dark, .3);

    }
}

.title-color--tangerine{
    color: rgba($color-tangerine, .7);
    &::after{
        background:rgba($color-tangerine, .3);

    }
}

.title-color--salsa{
    color: rgba($color-red-salsa, .7);
    &::after{
        background:rgba($color-red-salsa, .3);

    }
}

///////////
// BTN
.btn {
    // background: orangered;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); //align it exactly in the middle
    width: 15rem;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    font-family: $font-secondary;
    font-size: $font-med;
    text-decoration: none;
    letter-spacing: 2px;
    color: $color-ruby;
    transition-duration: .2s;

    &:hover {
        font-size: $font-large;
    }

    & svg,
    & svg rect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: transparent;

    }

    & svg rect {
        stroke: $color-ruby;
        stroke-width: 5;
        transition: .5s;
        stroke-dasharray: 500, 500;
        stroke-dashoffset: 0;


        &:hover {
            stroke-dasharray: 100, 400;
            stroke-dashoffset: 272;
            stroke: rgba($color-electric-indigo, .6);
        }

    }

}