.nav {
    background: rgba(0, 0, 0, .6);
    grid-row: 1/2;
    grid-column: full-start/full-end;
    top: 0;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);

    }


    &__logo {
        margin-left: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgba($color-platinium, 1.0);


        &--middle {
            // background: lightsalmon;
            font-size: $font-huge;
            font-weight: 400;
            font-family: $font-secondary;

        }

        &--arrow-back {
            transform: rotate(180deg);
        }

        &--arrow-front,
        &--arrow-back {
            height: 40px;
            width: 40px;
            fill: currentColor;
        }

    }

    &__container {
        list-style: none;
        display: flex;

    }

    &__item {
        margin: 1rem;
        color: $color-platinium;
        text-decoration: none;
        font-size: $font-small;
        font-family: $font-tertiary;
        font-weight: 400;
        letter-spacing: .6rem;
        padding: 1rem 2rem;
        text-align: center;
        text-transform: uppercase;
        transition-duration: .2s;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 80%;
            bottom: 0;
            left: 10%;
            border-radius: 10px;
            transform: scale(0);
            transition: all .6s;
            background: $color-platinium;

        }

        &:hover,
        &:active {

            &::before {
                transform: scale(1);
            }
        }
    }

}