:root{

    // COLOR PALETTE
    --color-green-dark: #018C58;
    --color-green-dark-rgb: 1, 140, 88;
    --color-green-light: #01b975;
    --color-green-light-rgb: 1, 185, 117;
    --color-green: #38C479;
    --color-green-rgb: 56, 196, 121;

    // --color-grey-dark:#2c2e2f;
    --color-grey-dark:rgba(0, 0, 0, 0);
    

    --color-grey-dark-rgb: 0, 0, 0;
    --color-grey-med: #666666;
    --color-grey-light:#efefef;
        
    --color-blue-dark: #194cfa;
    --color-blue-light: #799bee;

    /*************************
    * FONTS
    *************************/
    --font-primary: 'Lato', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
    


    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
}

*{
    margin: 0;
    padding: 0;
}

*,
::before,
::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; //1rem => 10px, 10px/16px = 62.5%
}

body{
    font-family: var(--font-primary);
    // font-weight: 400;
    line-height: 1.6;
    min-height: 100vh;
    background-color: var(--color-grey-light);
}

